@import "tailwindcss";

@theme {
  --color-yellow-50: #fef9ed;
  --color-yellow-75: #f3d2af;
  --color-yellow-200: #f9bf4b;
  --color-yellow-300: #e1913b;
  --color-green-50: #f4f8eb;
  --color-green-75: #d0e3af;
  --color-green-100: #d0e3af;
  --color-green-200: #a0c75c;
  --color-green-300: #8cbb3b;
  --color-green-400: #628329;
  --color-green-500: #557224;
  --color-green-600: #113528;
  --color-neutral-0: #ffffff;
  --color-neutral-10: #fafbfb;
  --color-neutral-20: #f6f7f6;
  --color-neutral-30: #edeeee;
  --color-neutral-40: #e1e4e3;
  --color-neutral-50: #c6cac9;
  --color-neutral-60: #b9bebc;
  --color-neutral-70: #adb3b1;
  --color-neutral-80: #a0a6a4;
  --color-neutral-90: #929a97;
  --color-neutral-100: #848d8a;
  --color-neutral-200: #77807d;
  --color-neutral-300: #697470;
  --color-neutral-400: #5e6965;
  --color-neutral-500: #505d58;
  --color-neutral-600: #45524d;
  --color-neutral-700: #35433e;
  --color-neutral-800: #273731;
  --color-neutral-900: #1c2c26;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 1800px;
}
/* ggoogle fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@layer utilities {
  .btn {
    @apply inline-flex items-center ease-linear justify-center gap-2 rounded-full p-2 font-semibold text-neutral-0 transition-all duration-300 cursor-pointer;
  }
  .tag {
    @apply py-2 px-4 rounded-lg  border  inline-flex hover:bg-green-300 duration-300;
  }
  .btn-primary {
    @extend .btn;
    @apply bg-green-500 pl-6 xl:pl-8 gap-4 uppercase;
    i {
      @apply size-8 xxl:size-12 flex items-center justify-center bg-yellow-200 text-xl xxl:text-2xl rounded-full text-neutral-700 duration-300;
    }
    &:hover {
      i {
        @apply rotate-45;
      }
    }
  }
}

@layer components {
  .cont {
    @apply mx-auto px-3 sm:max-w-[96%] sm:px-0 md:max-w-[95%] xl:max-w-[1140px] xxl:max-w-[1296px];
  }
  .display-1 {
    @apply text-4xl font-bold leading-tight lg:text-6xl xl:text-[70px] xxl:text-[96px];
  }
  .display-2 {
    @apply text-3xl font-bold leading-tight md:text-[52px] xl:text-[60px] xxl:text-[72px];
  }
  .display-3 {
    @apply text-3xl font-bold leading-tight lg:text-5xl xl:text-[56px] xxl:text-[64px];
  }
  .display-4 {
    @apply text-3xl xl:leading-tight lg:text-4xl xl:text-[48px] font-bold xxl:text-[56px];
  }
  .menu{
    @apply max-lg:fixed duration-300 max-lg:z-[3] max-lg:min-w-[310px] max-lg:shadow-lg max-lg:top-0 max-lg:left-0 max-lg:p-4 max-lg:bg-neutral-0 max-lg:h-screen lg:flex gap-3 lg:gap-4 xxl:gap-8;
    &.two{
      @apply max-lg:bg-neutral-900;
    }
    @media (width <= 991px) {
      @apply -translate-x-full;
      &.active{
        @apply translate-x-0
      }
    }
    .menu-link{
      @apply py-2 inline-flex uppercase font-semibold;
    }
    &.two{
      .dropdown-btn{
        @apply text-neutral-0;
      }
      .menu-link{
        @apply text-neutral-0;
      }
    }
  }
  // dropdown
  .dropdown-item {
    @apply relative;
    .dropdown-btn {
      @apply py-2 flex justify-between w-full items-center gap-1 uppercase h-10 font-semibold;
    }
    &.active{
      @media (width <= 991px) {        
        .dropdown-menu{
          max-height: 250px;
          @apply p-3 border border-neutral-100;
        }
      }
    }
    @media (width <= 991px) {      
      .dropdown-menu {
        transition: max-height 0.3s ease-out;
        @apply bg-neutral-0 min-w-[200px] max-h-0 overflow-hidden  duration-300 rounded-lg overflow-y-auto;
        li a {
          @apply inline-flex py-1.5 lg:text-base duration-300 font-medium;
        }
      }      
    }
    
    @media (width >= 992px) {      
      .dropdown-menu {
        @apply bg-neutral-0 min-w-[200px] max-h-[250px] absolute left-0 top-[130%] opacity-0 invisible p-3 duration-300 lg:px-5 rounded-lg border border-neutral-100 overflow-y-auto;
        li a {
          @apply inline-flex py-1.5 lg:text-base duration-300 font-medium;
        }
      }
      &:hover {
        .dropdown-menu {
          @apply visible opacity-100 top-full;
        }
      }
    }
  }
  .topbar-btn {
    @apply flex items-center justify-center text-xl xl:text-2xl border border-neutral-40 size-12 xxl:size-[64px] rounded-full;
  }
  .search-bar {
    @apply fixed w-full h-44 shadow-xl bg-neutral-0 z-10 top-0 left-0 right-0 flex items-center -translate-y-full duration-300 ease-linear invisible;
    &.active {
      @apply translate-y-0 visible;
    }
  }
  .exp {
    background: linear-gradient(180deg, rgba(249, 191, 75, 0) 0%, rgba(249, 191, 75, 0.28) 100%);
  }
  .sub-heading {
    @apply py-2 px-4 rounded-full border border-neutral-30 max-w-max;
  }
}

@layer base {
  .range-slider {
    --show-min-max: none;
    --thumb-size: 16px;
    --thumb-color: #16f0bb;
    --thumb-radius: 0;
    --step: 1;
    --ticks-thickness: 0.01;
    --primary-color: #16f0bb;
    --fill-color: #16f0bb;
    --progress-radius: 0;
    --track-height: 6px;
    position: relative;
    width: 100%;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  * {
    font-family: "Roboto", serif;
  }
  .font-playfair {
    font-family: "Playfair Display", serif;
  }
  .font-roboto{
    font-family: "Roboto", serif;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar {
    @apply bg-green-200;
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 12px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    @apply bg-green-200;
  }

  .event-unset {
    pointer-events: unset;
  }

  body {
    @apply relative text-neutral-900 text-sm xl:text-base;
  }

  button {
    @apply cursor-pointer;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Playfair Display", serif;
  }
  h1,
  .h1 {
    @apply text-[30px] font-bold leading-tight  md:text-[36px] xl:text-[48px];
  }
  h2,
  .h2 {
    @apply text-[20px] font-bold leading-[125%] sm:text-[24px] lg:text-[30px] xl:text-[40px];
  }
  h3,
  .h3 {
    @apply text-[20px] font-semibold leading-tight sm:font-bold lg:text-[24px] lg:leading-normal xl:text-[32px];
  }
  h4,
  .h4 {
    @apply text-[18px] leading-tight font-semibold md:text-[20px] md:font-bold lg:text-2xl;
  }
  h5,
  .h5 {
    @apply text-[16px] leading-normal font-semibold md:text-[20px] md:font-bold xl:text-xl;
  }
  h6,
  .h6 {
    @apply text-sm lg:text-base font-medium shadow-none;
  }
  .lead-text {
    @apply text-xl md:text-2xl;
  }
  .xl-text {
    @apply text-lg md:text-xl;
  }
  .l-text {
    @apply text-balance md:text-lg;
  }
  .m-text {
    @apply text-sm md:text-base;
  }
  .s-text {
    @apply text-xs md:text-sm;
  }

  input:focus,
  textarea:focus {
    @apply outline-none;
  }
  .f-center {
    @apply flex justify-center items-center;
  }

  .pt-120 {
    @apply pt-14 xl:pt-[100px];
  }
  .pb-120 {
    @apply pb-14 xl:pb-[100px];
  }

  .animated-link {
    @apply text-neutral-20 lg:text-lg hover:text-green-300 relative inline-block max-w-max duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-green-300 after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full;
  }
  .social-icon {
    @apply size-10 rounded-full text-2xl bg-neutral-0/10 border border-green-400 hover:bg-yellow-200 hover:text-neutral-900 duration-300 text-yellow-200 flex items-center justify-center;
    &.two{
      @apply border-neutral-40 text-green-500 text-xl hover:text-neutral-0 hover:bg-green-500;
    }
  }
  .swiper-scrollbar-drag {
    background: rgb(var(--primary)) !important;
    margin-top: -2px !important;
    height: 6px !important;
    border-radius: 0 !important;
  }
  .brandslider .swiper-wrapper {
    transition-timing-function: linear !important;
  }
}


.clipped-video {
  -webkit-clip-path: url(#text-overlay);
  clip-path: url(#text-overlay);
  width: 100%; 
  object-fit: cover;
}

.text-stroke{
  -webkit-text-stroke: 1px #333;
  -webkit-text-fill-color: white;
  color: #fff;
}

.counter-stroke{
  -webkit-text-stroke: 1px #557224;
  -webkit-text-fill-color: transparent;
}

.img-fluid{
  @apply max-w-full h-auto;
}


/* Core functionality */
#animated-text-strip{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  overflow: hidden;
}
#animated-text-strip .marquee {
  white-space: nowrap;
  animation: marquee 20s linear infinite;
  max-width: none;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.marquee{
  &.big-text{
    @apply uppercase text-6xl xxl:text-[180px] font-semibold text-green-500/20;
  }
}
.max-un{
  @media (min-width:1400px){
    max-width: unset;
  }
}